body{
    background-color: rgb(229, 229, 229);
    color:rgb(27, 27, 27);
    font-family: Helvetica;
    text-align: left;
}

#backgroundVideo {
    width: 100%;
}

.video-container {
    z-index: -100;
    width:100%;
    height:100%;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
}

.overlay {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
    z-index:1;
}

.center{
    position: absolute;
    top: 40%;
    left: 13%;
    text-align: center;
    z-index:1;
    display:flex;
}

.selectBox{
    position: relative;
    display: inline-block;
    margin: 6px;
}

select{
    font-size: 1.3rem;
    font-style: normal;
    padding: 1em 3.5em 1em 1.5em;
    background: #23314e;
    color: rgb(229, 229, 229);
    border:0;
    appearance: none;
    width: 300px;
    display: inline-block;
}

select:hover{
    opacity: 100%;
}

select:focus{
    border: none;
}


.selectArrow{
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(20, 33, 61);
    display: block;
    height: 100%;
    width: 4rem;
    pointer-events: none;
}

.selectArrow::before,
.selectArrow::after{
    content: '';
    position: absolute;
    width: 0;
    height:0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selectArrow::before{
    border-left: 0.65em solid transparent;
    border-right: 0.65em solid transparent;
    border-top: 0.65em solid rgb(252, 163, 17);
    top: 40%;
}

.selectArrow::after{
    border-left: 0.65em solid transparent;
    border-right: 0.65em solid transparent;
    border-bottom: 0.65em solid rgb(252, 163, 17);
    top: 60%;
}

.page{
   margin: 20px;
}

.centerPage{
    margin: 20px;
    text-align: center;
 }

.hyperlink{
    color:rgb(231, 231, 231);
    font-size: 60px;
}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover {
    text-decoration: none;
    font-weight: bold;
}


a:active { text-decoration: none; }

.navbar-custom {
    background-color:rgb(20, 33, 61);
    margin-left: 0px;
    min-width: 500px;
    min-height: auto;
}

.nav-link{
    color:rgb(252, 163, 17);
    margin-left: 0px;
}

.nav-link:hover{
    color:rgb(255, 193, 92);
}

#nav_user_img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-position: center;
    margin-left: 0px;
}

#nav_logo{
    width: 150px;
    margin-left: 0px;
}

.btn-light{
    background-color: rgb(66, 66, 66);
    margin-bottom: 10px;
    color:rgb(231, 231, 231)
}

.btn-light:hover{
    background-color: rgb(231, 231, 231);
    color:rgb(66, 66, 66)
}

input[type="text"], input[type="password"], input[type="email"]{
    background-color: rgb(66, 66, 66);
    padding: 10px 15px;
    border-radius: 3px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="password"]:focus{
    background-color: rgb(231, 231, 231);
    outline-color: rgb(203, 209, 195);
}

input[type="password"]:focus{
    outline:0;
}