{% extends "climb3d/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated%}
        <div class="center">
            <form action="{% url 'indexLocation' %}" method="POST">
                {% csrf_token %}
                <div class="selectBox">
                    <select name="location" id="location" onchange="this.form.submit()">
                        <option selected disabled>{{ selectedLocation }}</option>
                        {% for location in locations %}
                            {% if "location" != "selectedLocation" %}
                                <option value={{location.id}}>{{ location.location }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <span class="selectArrow1"></span>
                    <span class="selectArrow"></span>
                </div>
            </form>

            <form action="{% url 'indexArea' %}" method="POST">
                {% csrf_token %}
                <div class="selectBox">
                    <select name="area" id="area" onchange="this.form.submit()">
                        <option selected disabled>{{ selectedArea }}</option>
                        {% for area in areas %}
                            <option value={{area.id}}>{{ area.area }}</option>
                        {% endfor %}
                    </select>
                    <span class="selectArrow1"></span>
                    <span class="selectArrow"></span>
                </div>
            </form>

            <form action="{% url 'crag' %}" method="POST">
                {% csrf_token %}
                <div class="selectBox">
                    <select name="crag" id="crag" onchange="this.form.submit()">
                        <option selected disabled>Select Crag</option>
                        {% for crag in crags %}
                            <option value={{ crag.id }}>{{ crag.crag }}</option>
                        {% endfor %}
                    </select>
                    <span class="selectArrow1"></span>
                    <span class="selectArrow"></span>
                </div>
            </form>     
        </div>

    {% else %}
        <div class="videoContainer">
            <video autoplay muted loop id="backgroundVideo">
                <source src="{% static '/climb3d/videos/Dolomites.mp4' %}" type="video/mp4">
            </video>

            <div class="overlay">
                <a href="{% url 'login' %}"><h1 class="hyperlink">ENTER</h1></a>
            </div>
        </div>
    {% endif %}
{% endblock %}